<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
          <h4>Teacher Registration Form</h4>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="highestQualification">Highest Qualification:</label>
            <input type="text" id="highestQualification" formControlName="highestQualification" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" formControlName="location" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3 w-100" [disabled]="!teacherForm.valid">Register</button>
        </form>
      </div>
    </div>
  </div>
  