<div style="position: static;">
    <nav class="navbar navbar-expand-sm navbar-light" style="background : #FF4B2B;">
      <div class="container-fluid">
        <!-- Centered brand -->
        
        <a class="navbar-brand mx-auto" routerLink="/home"><b>EduQuest</b></a>
  
       
  
        <!-- Navigation items -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-2"> <!-- Centering the list -->
            <!-- Home -->
            <!-- *ngIf="currentRoute !== '/home'" -->
            <li class="nav-item " >
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
            </li>
  
  
            <li class="nav-item" >
              <a class="nav-link" routerLink="/login"  routerLinkActive="active">SignUp / SignIn</a>
            </li>
  
    
          </ul>
         
          <!-- Green dot for logged-in status -->
          <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning" type="submit">Search</button>
          </form>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>