.navbar {
    background: linear-gradient(to right, #6a1b9a, #00b4d9);
    color: white;
  }
  
  .navbar-brand, .nav-link {
    color: white;
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: #ddd;
  }
  
  .nav-link.active {
    color: #ffffff; /* Bright white color */
    font-weight: bold; /* Bold text */
  }

  .nav-item{
    margin-left: 5px;
  }
  
  .nav-item.active a, .nav-item a:hover , .input-group-append .btn:hover, .input-group-append .btn.active  {
    background-color: white;
    color: #113f5f;
    border-radius: 5%;
    /* border-radius: 5px;
    margin : 5px; */
  }